.flex-column {
    flex-direction: column;
}

.register {
    min-height: 65vh;
    display: flex;
    background-color: #FFEED1;
}

.register .container{
    display: flex;    
}

.register h2 {
    color: black;
    font-size: 40px;   
    line-height: 1.1;
    font-family:'LunchType-Medium', sans-serif;
    margin-bottom: 48px;

}

.sign-up{
    background: none;
    border: none;
    font-size: 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px #50B391 solid;
    padding-bottom: 18px;
}

input {
    background: none;
    border: none;
    font-size: 24px;
    outline: none;
    padding: 0;
}

.email-input {
    flex: 1;
}


.form {
    margin: 48px 24px;

}

.eyes {
    width: 128px;
    height: 32px;
    background-image: url('./assets/images/eyes_open.svg');
    position: absolute;
    top: 20vh;
    left: 18.6vw;
    z-index: 3;
}

.hand {
    width: 57px;
    height: 85.5px;
    background-image: url('./assets/images/ok_hand.svg');
    align-self: flex-end;
    position: absolute;
    bottom: 50vh;
    right: 22vw;
    z-index: 3;
}

.eyes,
.hand {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.footer {
    min-height: 35vh;
    display: flex;
    background-color: #111118;
    text-align: center;
}

.footer img {
   width: 80px;
    margin-bottom: 24px;
}

.button {
    border: solid 2px #FFEED1;
    color: #FFEED1;
    line-height: 1;
    padding: 6px 12px;
    min-width: 140px;
    text-align: center;
    text-decoration: none;
}


@media (max-width: 1200px) {

    .eyes {
        top: 14vh;
        left: 6vw;
        z-index: 3;
    }
    .hand {
        bottom: 40vh;
        right: 12vw;
        z-index: 3;
    }
}

@media (max-width: 780px) {

    .register .container {

        flex-direction: column;
    }
    .register h2 {
        font-size: 24px;  
      }
    .form {
        margin: 24px 0;
    }

    input {
        font-size: 18px;
    }
    .eyes {
        top: 14vh;
        left: 2vw;
        z-index: 3;
    }
    .hand {
        bottom: 40vh;
        right: 2vw;
        z-index: 3;
    }
}