body {
    background-color: #ffffff;
    color: #333333;
}

h1 { 
    font-size: 22px;
    font-weight: 700;
}

.section {
    position: relative;
    min-height: 100vh;  
    display: flex;

}

.section-pad {
    padding-left: 5vw;
    padding-right: 5vw;
}

.container {
    max-width: 810px;
    margin: auto;
    color: white;
    /* position: relative; */
    z-index: 2;
}

.intro {
    background-image: url(/assets/images/intro.jpg);
}

.logo {
    display: block;
    text-align: center;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    max-width: 120px;
}

.logo img {
    width: 100%;
}

.marquee {
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.marquee span {
    display: block;
    position: relative;
    white-space: nowrap;

    /* animation */
    animation:  moveLeft 300s infinite;
}

.day {
    position: relative;
    text-align: center;
    z-index: 2;
    overflow: hidden;
}

.day-1 {
    background-color: #FD76A7;
}

.day-2 {
    background-color: #1BB190;
}

.day-3 {
    background-image: url(/assets/images/day-3.jpg);
}

.lineup {
list-style: none;
padding-inline-start: 0px;

}

.lineup h2 {
    margin-bottom: 6px;
}

.lineup li {
    margin-bottom: 24px;
}

.date {
 color: #ffffff;
 margin-bottom: 48px;

}

.scroll-to {

    width: 64px;
    height: 32px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    
    background-image: url(/assets/images/down-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.scroll-to-intro {
    background-image: url(/assets/images/down-arrow-light.svg);
}

/* Utilities */

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center {
    text-align: center;
}

.mix-difference {
    mix-blend-mode:lighten;
}

/* Animations */

@keyframes moveLeft{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2000vw);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    50% {
        transform: translate()
    }
    100% {
        opacity: 1;
    }
}

.appear {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}


/* Responsive  */

@media (max-width: 780px) {
    .marquee {
        position: relative;
        top: auto;
        left: auto;
        width: 90vw;
        margin-bottom: 12px;
        font-size: 24px;
    }
    .logo {
        max-width: 120px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .intro p {
        font-size: 26px;
        line-height: 1.4;
        margin-top: 36px;
    }
   .scroll-to {
    display: none;
   }
   .lineup h2 {
    font-size: 32px;
   }
}