body {
    background-color: #ffffff;
    color: #333333;
}

h1 { 
    font-size: 24px;
    font-weight: 700;
}

.section {
    position: relative;
    min-height: 100vh;  
    display: flex;

}

.section-pad {
    padding-left: 5vw;
    padding-right: 5vw;
}

.container {
    max-width: 810px;
    margin: auto;
    color: white;
}

.intro {
    background-image: url(/assets/images/intro.jpg);
}

.intro p {
    font-size: 36px;
    line-height: 1.2;
}

.logo {
    display: block;
    text-align: center;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    max-width: 120px;
}

.logo img {
    width: 100%;
}

.marquee {
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.marquee span {
    display: block;
    position: relative;
    white-space: nowrap;

    /* animation */
    animation:  moveLeft 320s infinite;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes moveLeft{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2000vw);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    50% {
        transform: translate()
    }
    100% {
        opacity: 1;
    }
}

.appear {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.mix-difference {
    mix-blend-mode: difference;
}

.day-1 {
    background-color: #FD76A7;
}

.day-2 {
    background-color: #1BB190;
}

.day-3 {
    background-image: url(/assets/images/day-3.jpg);
}