@media (min-width: 540px) {
    .shape,
    .lineup li,
    .date {
        opacity: 0;
        transition: opacity 1s ease;
    }

    .in-viewport .shape,
    .in-viewport .lineup li,
    .in-viewport .date {
        opacity: 1;
    }

}